Carthage/
lockbox-ios.xcodeproj/project.xcworkspace/xcuserdata/sheinen.xcuserdatad/UserInterfaceState.xcuserstate
.idea/
xcuserdata
.DS_Store
lockbox-ios/binaries/
site/
fastlane/screenshots/
export-locales-env
import-locales-env
lockwiseios-l10n

// Glean
.venv/
/Generated