github "Quick/Quick"
github "Quick/Nimble"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources" ~> 3.0
github "RxSwiftCommunity/RxOptional" ~> 3.1.3
github "mozilla-mobile/telemetry-ios"
github "mozilla-lockbox/lockbox-ios-fxa-sync" "3ac7d1247ee62f49f8064c89f122161acc236473"
github "jrendel/SwiftKeychainWrapper" ~> 3.0
