# lockbox-ios code owners
# https://help.github.com/articles/about-codeowners/

# docs are shepherded by @devinreams
/docs/    @sashei @devinreams

# otherwise, everything is to be reviewed by @sashei
* @sashei
